<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" [routerLink]="['/voorstelling']">Voorstelling</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" [routerLink]="['/overzicht']">Overzicht</a>
  </li>
  <li class="nav-item">
    <!-- TODO: Make active when subroute is active -->
    <a class="nav-link dropdown-toggle" routerLinkActive="active"
      id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">Activiteiten</a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <li><a class="dropdown-item" [routerLink]="['/activiteiten', 'name1']">Voorstelling</a></li>
      <li><a class="dropdown-item" [routerLink]="['/activiteiten', 'name2']">Overzicht</a></li>
    </ul>
  </li>
</ul>