<ul class="nav fixed-top">
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" [routerLink]="['/voorstelling']">Voorstelling</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" [routerLink]="['/activiteiten']">Overzicht</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active"
      [routerLink]="['/website-studenten-vroedkunde']">Website
      studenten vroedkunde</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" [routerLink]="['/innovatieroute']">Innovatieroute</a>
  </li>
  <li class="nav-item"><a class="nav-link" routerLinkActive="active"
      [routerLink]="['/hackathon-sint-oda']">Hackathon
      Sint-Oda</a>
  </li>
</ul>