<div class="container">
    <h1>Verslag</h1>
    <p>
        Om studenten van het derde jaar Toegepaste Informatica in aanraking te laten komen met thema’s die niet
        behandeld
        worden gedurende de opleiding organiseert Hogeschool PXL ieder jaar een aantal innovatieroutes. Hier worden
        studenten gedurende twee tot drie dagen ondergedompeld in het gekozen thema. De workshops en seminaries van deze
        innovatieroutes worden aangeboden in samenwerking met enkele bedrijven.
    </p>
    <p>
        Dit jaar konden de studenten die de afstudeerrichting Full-Stack Development volgen uit drie innovatieroutes
        kiezen, namelijk één over AI, één over Low Code en één over UI/UX. Ik heb voor de laatste gekozen, omdat ik meer
        wou weten over hoe het proces van idee tot prototype er precies uitziet.
    </p>
    <p>
        De eerste dag werd er meer uitleg gegeven over service design en customer journeys door AppWise. Er werd ook een
        workshop gegeven over het opstellen van zo een customer journey. De volgende dagen werden georganiseerd door
        Humix en Appfoundry. Gedurende de tweede dag ging het over user center design en UX-principes. Er werd ook
        dieper ingegaan op de specifieke UX-principes voor mobile development. Het grootste verschil is dat er rekening
        gehouden moet worden met de grootte van de knoppen, omdat je deze op een smartphone moet aanklikken met je
        vingers en niet met een computermuis. Er moet ook gelet worden op de positie van de knoppen. Daar de meeste
        mensen hun smartphone met één hand bedienen, moeten de knoppen in makkelijk te bereiken gebieden staan. De
        afbeelding hieronder geeft de gebieden aan. Verder ging het over een probleemstelling formuleren, gebruikersdata
        verzamelen en persona’s creëren. De laatste dag kaderde in het thema van wireframing, dus meer de UI-kant van de
        innovatieroute. Er werden voorbeelden van slechte interfaces aangehaald en er werd natuurlijk ook aangegeven hoe
        deze beter gemaakt konden worden. Het was ook interessant dat uitgelegd werd hoe Humix aan de slag ging bij het
        maken van wireframes. Ze maken gebruik van Atomic Design, een methodologie waar gedacht wordt in atomen. Het
        begint dus met de kleinste dingen te bepalen, zoals kleuren en lettertypes, om daarna groter te denken tot een
        volledige pagina gevormd is. Verder werd er nog ingegaan op gebruikerstesten en de design handoff.
    </p>
    <div class="img-container">
        <img class="img-fluid" src="assets/Afbeelding2.png" alt="afbeelding">
        <img class="img-fluid" src="assets/Afbeelding3.png" alt="afbeelding">
    </div>
    <p>
        Gedurende deze drie dagen was het de bedoeling om naar een soort eindproduct te werken. Eerst moesten we dus een
        thema bedenken om rond te werken. Na wat brainstormen heeft mijn groep gekozen voor het thema rond de planning
        van De Lijn-bussen. Het zou volgens ons handig zijn om de trajecten van de bussen live te kunnen volgen, dus
        wanneer deze aan een bepaalde halte vertrekt of aankomt. Zo kunnen de reizigers zien of hun bus te laat of
        misschien wel te vroeg zal aankomen. Om dit meer uit te werken hebben we eerst aan de hand van de How Might
        We-methode enkele probleemstellingen geformuleerd om hier vervolgens oplossingen voor te zoeken. Het resultaat
        hiervan is onderstaande afbeelding. Eens we de oplossingen hadden, moesten we de wireframes nog maken. We zijn
        begonnen met deze op papier uit te tekenen om een globaal idee te hebben van hoe de app eruit zou gaan zien. Na
        het kiezen van een design, zijn we begonnen aan het maken van de wireframes met Figma. Normaal gezien begint
        wireframing met het kiezen van kleuren, maar we hadden besloten om de kleuren van De Lijn te gebruiken, omdat
        dit ons het duidelijkst leek. Onze eerste stap was dus het designen van de navigatiebalk, omdat deze op ieder
        scherm moest staan. Vervolgens heeft ieder een paar schermen gemaakt en hebben we er een prototype van
        gecreëerd, zodat we bij de pitch door de applicatie konden klikken. Onderstaande afbeeldingen tonen enkele
        schermen die we gemaakt hebben. Er waren ook schermen om in te loggen, te registreren, meldingen in te stellen
        voor bepaalde haltes en meldingen te beheren.
    </p>
    <div class="img-container">
        <img class="img-fluid" src="assets/Afbeelding4.png" alt="afbeelding">
        <img class="img-fluid" src="assets/Afbeelding5.png" alt="afbeelding">
    </div>
    <h1>Reflectie</h1>
    <p>
        Ik vond het zeer interessant om wat meer te leren over UI en UX. We hebben veel mogen uitproberen, vooral de
        tweede en derde dag. Ik heb gemerkt dat ik meer opsteek wanneer we praktijkoefeningen maken dan wanneer het pure
        theorie is, daarom herinner ik me ook meer van de laatste twee dagen dan van de eerste dag. In het begin van de
        innovatieroute ondervond mijn team wat problemen in verband met initiatief nemen. We waren allemaal wat stillere
        types, dus het was moeilijk toen er beslist moest worden wie onze oplossingen aan de groep zou meedelen wanneer
        dit gevraagd werd. Uiteindelijk zijn we gewoon om de beurt geweest, zodat iedereen iets zou moeten zeggen. De
        allerlaatste pitch heb ik gedaan, omdat de rest dit niet echt zag zitten. Voor de rest kwam mijn team goed
        overeen.
    </p>
    <p>
        Mijn sterk punt tijdens de innovatieroute was dat ik actief heb deelgenomen aan het maken van de opdrachten, ook
        al ben ik van nature wat stiller.
    </p>
    <p>
        Een zwak punt was dat ik niet echt een leidersrol opnam, terwijl er wel een leidersfiguur nodig was. Ik had
        eerder de leidersrol op me kunnen nemen, zodat er geen tijd verspild werd met het bepalen van diegene die de
        opdracht voor de groep ging brengen.
    </p>
    <p>
        Ik heb deze activiteit voor mijn portfolio geselecteerd, omdat ik het ook belangrijk vind om naast de geziene
        leerstof ook wat interesse te tonen voor andere gebieden binnen IT. Het gaat er niet om of je het goed kan, maar
        wel dat je respect leert hebben voor de mensen die hierin werken.
    </p>
</div>