<div class="container">
  <h1>Voorstelling</h1>
  <ul>
    <li>Wie ben jij? Wat zijn je interesses?</li>
    <li>Over welke competenties en talenten beschik je (wat weet je, wat kan je goed, wat doe je graag)? Om een antwoord
      te geven op deze vragen kan je gebruik maken van je Thalento-rapport, je kernkwadrant en wat je geleerd hebt in de
      POP-sessies.
    </li>
    <li>Welke ambities heb je? Wat wil je over 3 of 5 jaar bereikt hebben?</li>
    <li>Wat kan ik en wat moet ik zeker nog kunnen?</li>
  </ul>
</div>
