<div class="container">
  <img class="rounded-circle" src="assets/Profielfoto.png" alt="profielfoto">
  <p>
    Mijn naam is Ine Menten. Ik ben derdejaarsstudent Toegepaste Informatica met als afstudeerrichting
    Applicatieontwikkeling Full-Stack Development aan Hogeschool PXL. In mijn vrije tijd game ik graag en kijk ik
    naar
    films en TV-programma’s.
  </p>
  <p>
    Ik ben een echte teamspeler. Ik vind het belangrijk dat iedereen in het team weet wat er gebeurt en het eens is
    met
    elkaar. Voor mij loopt een samenwerking het vlotst wanneer ik geen leidinggevende, maar een meer ondersteunende
    taak
    op mij kan nemen. Wel sta ik kritisch en nuchter in het leven, waardoor ik niet zomaar blindelings volg. Mijn
    praktische ingesteldheid zorgt ervoor dat ik het belangrijk vind dat wat ik maak effectief werkt en ook iemand
    verder helpt. Projecten die mij prikkelen zijn projecten waar ik in team iets mooi kan neerzetten voor de gewone
    mens en iets waar ik het eindresultaat kan zien. Ik werk dan ook graag multidisciplinair samen en ik vertrouw op
    de
    kennis en kunde van mijn teamgenoten. Ik ben respectvol naar mensen met een andere functie of specialisatie,
    want
    iedereen heeft een rol binnen een team. Ook hecht ik meer belang aan het resultaat dat het team behaalt dan aan
    mijn
    persoonlijke verdienste. Ik ben dan ook niet competitief ingesteld en zal nooit tegenwerken.
  </p>
  <p>
    Binnen drie jaar zou ik graag een vaste job hebben binnen de informaticasector. Bij voorkeur als full-stack
    developer, omdat ik graag in de frontend en backend werk. Ik denk dat ik snel verveeld zou raken als ik me enkel
    zou
    toespitsen op één van de twee. Naar mijn mening haal ik zo ook het meeste uit mijn opleiding. Na vijf jaar zou ik
    graag nog steeds in hetzelfde bedrijf werken als ik me daar goed voel. Ik ben een heel loyale werknemer en zou dan
    ook graag werken op een plek waar ik een toekomst heb. Ik ben iemand die liever goed is in haar job en hier veel
    ervaring in opbouwt dan iemand die de bedrijfsladder opklimt naar een leidinggevende functie.
  </p>
  <p>
    Na het behalen van mijn diploma ben ik natuurlijk nog niet volleerd, maar de vaardigheden die ik nog moet
    ontwikkelen zullen afhangen van mijn toekomstige job.
  </p>
</div>