<div class="container">
    <h2>Kern</h2>
    <p>
        In mijn derde jaar werd er een hackathon georganiseerd door Sint-Oda, een dienstencentrum voor mensen met een
        complexe of meervoudige beperking. De bedoeling van deze hackathon was om samen met studenten van LUCA School of
        Arts een computerspel te maken op maat van de zorggebruikers.
    </p>
    <p>
        De eerste dag startte bij het ontmoeten van mijn teamgenoten, één studente ergotherapie en twee studenten game
        design. Hierna kwam een zorgprofessional van Sint-Oda ons zijn voorstel uitleggen. Ons spel zou dienen voor
        Mark, iemand die graag naar audiofragmenten luistert en hier ook graag afbeeldingen bij ziet. Momenteel zette
        het personeel een PowerPoint-presentatie op wanneer ze bijvoorbeeld bedden moesten opmaken en Mark zich zonder
        begeleiding moest kunnen bezighouden. Maar iedere keer wanneer de presentatie afgelopen was, moesten de
        begeleiders de presentatie opnieuw starten. Het was ook iedere keer dezelfde presentatie, wat na lange tijd ging
        vervelen. We kregen ook een lijst van zijn interesses en van wat hij nog kan. Hij is rolstoelgebonden en zeer
        slechtziend, maar kan wel zijn armen bewegen. Hierdoor kan hij wel door tegen een drukschakelaar zoals op de
        afbeelding te duwen een muisklik simuleren op een computer of tablet. Met deze info konden we beginnen met
        brainstormen over het spel.
    </p>
    <div class="img-container">
        <img class="img-fluid" src="assets/Afbeelding6.png" alt="afbeelding">
    </div>
    <p>
        We dachten om een game te maken waarbij de begeleiders verschillende afspeellijsten zouden kunnen maken en
        vervolgens hier één van konden selecteren. Wanneer de playlist dan begint met spelen, kan Mark door middel van
        zijn toestel het volgende fragment laten afspelen of hij kan ook gewoon wachten tot het volgende fragment
        vanzelf begint. Aan het einde van de afspeellijst begint het eerste fragment automatisch met spelen, dus het
        zorgpersoneel moet niet iedere keer de playlist opnieuw starten. Met dit idee zouden we de volgende dag beginnen
        met programmeren.
    </p>
    <p>
        De tweede dag had ik het idee om de applicatie in .NET te schrijven, want ik wist dat je hier relatief makkelijk
        bestanden mee kon uploaden. Maar wat ik op voorhand niet wist, was dat het een schoolopdracht voor de studenten
        van LUCA School of Arts was en dat het dus in Unity geprogrammeerd moest worden. Jammer genoeg heb ik nog nooit
        met Unity gewerkt, dus kon ik op programmeervlak niet veel betekenen. Ik heb wel proberen te helpen, want Unity
        werkt ook met C# en dit kon ik wel. Ik heb ook de afbeeldingen en de geluidsfragmenten voor de afspeellijsten
        gezocht. Het bleek voor de studenten game design ook niet zo makkelijk om bestanden te kunnen uploaden, dus
        hebben we gekozen om één afspeellijst te maken. Er was wel de mogelijk voor Mark om door de fragmenten te
        klikken en de playlist begon ook automatisch opnieuw met afspelen wanneer deze afgelopen was. Met dit product
        zouden we de laatste dag na wat aanpassingen de presentatie doen.
    </p>
    <p>
        De laatste dag hebben we vooral aan de afwerking gewerkt. De naam van de game werd ook gekozen, namelijk Mark’s
        Interactive Sound Experience, oftewel MISE. De studente ergotherapie heeft een presentatie gemaakt en ik heb een
        handleiding geschreven voor het personeel. Ten slotte heb ik gepresenteerd, omdat ik vond dat ik wat minder had
        kunnen doen dan de rest.
    </p>
    <h2>Reflectie</h2>
    <p>
        Ik vond dit een fijne ervaring, omdat het eindresultaat veel kan betekenen voor de bewoners en zorgprofessionals
        van Sint-Oda. Het was zeer aangenaam om zoveel voldoening te halen uit mijn werk, ook al was het resultaat niet
        wat we hadden gehoopt. Hieruit heb ik geleerd dat je vaak te hoge eisen stelt voor jezelf, maar dat anderen ook
        gelukkig kunnen zijn met minder.
    </p>
    <p>
        Ook het samenwerken met mensen van verschillende disciplines was heel leerrijk, daar ik dit nog nooit had
        gedaan. Het was interessant om te weten te komen wat je precies leert in de opleiding game design en ik stond
        ook versteld van het takenpakket van de studenten ergotherapie.
    </p>
    <p>
        Een sterk punt van mij was dat ik ondanks mijn beperkte kennis van Unity mij toch nuttig heb kunnen maken door
        afbeeldingen en geluiden te zoeken die nodig waren om de game te maken. Hier blijkt ook dat ik de belangen van
        de groep boven die van mij stel. Ik vond het niet erg dat ik niet veel heb kunnen programmeren, maar dat
        betekent niet dat je het team niet kan helpen met andere taken.
    </p>
    <p>
        Mijn zwak punt tijdens deze hackathon was dat ik nog nooit met Unity had gewerkt. Hierdoor kon ik niet echt
        meehelpen met programmeren.
    </p>
    <p>0
        Ik heb deze activiteit gekozen voor mijn portfolio, omdat ik hier heb kunnen samenwerken met mensen van andere
        disciplines. Deze hackathon is me het meest bijgebleven van alle activiteiten, omdat het niet online was en
        omdat ik iets heb kunnen betekenen voor Sint-Oda. Mijn ambities lijken misschien minder groots dan die van
        anderen, maar daarom zijn ze voor mij niet minder waardevol.
    </p>
    <div class="img-container">
        <img class="img-fluid" src="assets/Afbeelding7.png" alt="afbeelding">
    </div>
</div>