<div class="container">
    <h2>Kern</h2>
    <p>
        Tijdens de zomervakantie tussen mijn tweede en derde jaar Toegepaste Informatica kreeg ik de vraag van een
        aantal studenten vroedkunde om een website te maken waar zij educatieve artikels rond het thema vroedkunde op
        konden posten. Dit leek mij een leerrijk project, omdat ik dit nog nooit had gedaan en dus zelf zou moeten
        uitzoeken met welke technologieën ik dit zou kunnen doen.
    </p>
    <p>
        Mijn taak in dit project was dus om een website te maken. Het was belangrijk dat het hosten van de website
        gratis kon gebeuren, aangezien de vroedvrouwen in spé hier momenteel ook geen geld aan verdienen. Ik mocht de
        technologie volledig zelf kiezen en de vormgeving heb ik in samenspraak met de studenten vroedkunde bepaald.
    </p>
    <p>
        Voor ik begon met programmeren, moest ik een manier zoeken om de website gratis te hosten. Het was ook
        belangrijk dat de domeinnaam die de host gratis aanbiedt er goed uitzag, want een domeinnaam kost ook geld. Na
        even zoeken hield ik twee opties over: Heroku en GitHub Pages. Ik heb uiteindelijk gekozen voor GitHub Pages,
        omdat bij Heroku je website na 30 minuten van inactiviteit in slaapstand gaat. Dit betekent dat bij het openen
        het iets langer kan duren vooraleer de website geladen is. Nog een voordeel van Github Pages is de domeinnaam.
        Als je je repository dezelfde naam geeft als je account, dan krijg je als URL de naam van je account. Als je dit
        niet doet, is de domeinnaam de naam van je account met daarachter de naam van je repository, bijvoorbeeld
        https://metliefdegedragen.github.io/repository.
    </p>
    <p>
        Ik heb ervoor gekozen om Angular te gebruiken voor de frontend en om geen backend te koppelen, omdat er niet
        veel variërende data is. Angular was voor mij de beste optie, omdat er online veel te vinden was over het
        deployen van een Angular-website op Github Pages. Vue was ook nog een optie, maar ik had op dit moment nog nooit
        met Angular gewerkt en ik wou mezelf wel uitdagen.
    </p>
    <p>
        De volgende stap was de vormgeving van de website. Hiervoor heb ik gebruikgemaakt van Bootstrap, omdat dit een
        goede basis is waarop ik kon verder bouwen. Ik heb enkel de kleuren toegevoegd en heb ook Angular Animations
        gebruikt om de overgang tussen pagina’s wat minder stroef te maken.
    </p>
    <p>
        Ik heb bij het maken van de website ook aandacht besteed aan het uitzicht op mobiele toestellen, zodat de
        website ook makkelijk te raadplegen is via een tablet of smartphone. Ook is er op details gelet, zoals het icoon
        van de website en de namen van de routes, zoals de afbeelding laat zien. Het resultaat kan bezocht worden via <a
            href="https://metliefdegedragen.github.io">https://metliefdegedragen.github.io</a>.
    </p>
    <div class="img-container">
        <img class="img-fluid" src="assets/Afbeelding1.png" alt="afbeelding">
    </div>
    <p>
        De studenten kunnen de artikels niet zelf posten, omdat er dan authenticatie voorzien moet zijn en momenteel is
        dit nog niet. Nu sturen de studenten het artikel door naar mij en ik zet het om naar een HTML-bestand, zodat dit
        makkelijk ingeladen kan worden in Angular. Het was ook een mogelijkheid om ze als PDF weer te geven, maar dan is
        het uitzicht van het artikel niet zo personaliseerbaar als bij een HTML-bestand.
    </p>
    <h2>Reflectie</h2>
    <p>
        Ik ben zeer tevreden over de samenwerking met de studenten vroedkunde en natuurlijk ook over het resultaat. In
        het begin was ik erg aan het twijfelen of ik wel de juiste beslissingen nam, omdat dit de eerste keer was dat ik
        een project maakte dat effectief op het internet te zien zou zijn.
    </p>
    <p>
        Een sterk punt in dit project was de communicatie met de studenten vroedkunde. Ik liet altijd alles eerst aan
        hun zien vooraleer ik iets online zette en liet ook weten wanneer ik het dan effectief online had gezet. We
        spraken deadlines af en hier heb ik me aan proberen houden, maar wanneer iets niet voor de deadline klaar zou
        zijn, heb ik dit tijdig laten weten.
    </p>
    <p>
        Mijn zwak punt was dat ik nog nooit met Angular had gewerkt, dus dat ik hier van nul zou beginnen. Dit was in
        het begin zeer moeilijk, maar mijn kennis van Vue heeft hier wel een beetje geholpen en ik wou graag een
        uitdaging.
    </p>
    <p>
        Ik heb deze activiteit voor mijn portfolio gekozen, omdat ik hier heb getoond dat ik de wensen van iemand die
        niet in de IT-sector werkt heb kunnen omzetten in een afgewerkt product. Alle projecten die ik tot hier toe in
        verband met mijn opleiding heb gemaakt, waren uiteindelijk ook allemaal voor en door PXL en er waren lectoren
        die de opdrachten gaven. Dit betekent dus ook dat je altijd vragen kon stellen. Bij dit project heb ik alles
        zelf gedaan, wat dus betekent dat ik zelfstandig kan werken.
    </p>
</div>