<div class="container">
    <p>
        Doorheen deze drie jaren heb ik me ontwikkeld tot een praktisch ingestelde full-stack developer en een echte
        teamspeler. Ik heb goed leren samenwerken door een aantal specifieke activiteiten die ik heb ondernomen. De
        eerste teamwerkervaring die veel bijdrage heeft geleverd tot mijn ontwikkeling was de projectweek 2TIN, hier heb
        ik onder meer een persoonlijkheidstest ingevuld. Hierdoor wist ik wat mijn sterktes en zwaktes waren en kon ik
        hier ook direct mee aan de slag. Uit deze test bleek dat ik wat introvert was, maar ook praktisch ingesteld en
        een teamspeler. Bij de innovatieroute UX/UI heb ik drie dagen met een team van studenten kunnen samenwerken. In
        mijn team zaten allemaal stillere studenten, waardoor het meedelen van de oplossingen aan de groep wat stroef
        verliep. Uiteindelijk heb ik de laatste pitch zelf gedaan, wat aantoont dat ik indien nodig wel uit mijn schulp
        kan kruipen. Ook kwam ik erachter dat ik meer info opsla uit praktijkoefeningen dan uit pure theorie.
    </p>
    <p>
        Een tweede ervaring die belangrijk was voor mijn ontwikkeling is de website voor studenten vroedkunde. Deze heb
        ik zelfstandig op poten gezet en ik heb mezelf hiervoor Angular aangeleerd. Ook heb ik zelf uitgezocht hoe ik
        gratis een website kon hosten. Dit toont aan dat ik, ondanks mijn stillere karakter ook ondernemend kan zijn.
        Door de communicatie met de studenten vroedkunde heb ik geleerd hoe ik kan communiceren met mensen die niet uit
        de informaticasector komen. De hackathon voor Sint-Oda heeft me hier ook bij geholpen. Uit deze twee
        activiteiten blijkt ook dat ik beschik over een gezonde dosis empassie. Ik kon me bij de hackathon empathisch
        opstellen ten opzichte van mijn klant. De passie voor het vak blijkt dan weer uit de website die ik heb gemaakt
        voor de studenten vroedkunde. Ik heb deze site volledig gratis ontworpen voor hun en ik heb hier mijn vrije tijd
        aan besteed.
    </p>
    <p>
        Op vlak van multi- en disciplinariteit ben ik hard gegroeid. Ik heb veel seminaries gevolgd en hierdoor heb ik
        ook mezelf leren kennen. Ik heb bijvoorbeeld een seminarie gevolgd over security. Ik had me hiervoor
        ingeschreven omdat ik niet goed ben ik security. Na dit seminarie ben ik erachter gekomen dat security gewoon
        niet aan mij besteed is en dat ik mij meer wil toeleggen op programmeren. Hierdoor koos ik om deel te nemen aan
        de innovatieroute en een eigen project uit te werken in de vorm van een website. Ik heb al eerder vermeld dat ik
        het moeilijk vind om te leren uit pure theorie, waardoor seminaries niet echt aansluiten bij mijn leerstijl.
        Daarom heb ik ook meer opgestoken uit activiteiten zoals de hackathon voor Sint-Oda en de innovatieroute. Dit
        kan ook te maken hebben gehad met het feit dat de meeste seminaries online doorgingen en de andere activiteiten
        vaak niet.
    </p>
    <p>
        Tijdens mijn stage heb ik nog maar eens ondervonden dat ik beter bijleer in een praktijkgerichte setting. Door
        samen te werken met anderen, leer je volgens mij het meest. Een mooi voorbeeld hiervan is dat ik nog nooit met
        Flutter en Kotlin had gewerkt voor mijn stage begon, maar al doende heb ik deze twee programmeertalen onder de
        knie gekregen.
    </p>
</div>